name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.21"

      - name: Download dependencies
        run: go mod tidy

      - name: Run test services layer
        run: |
          echo "Running services layer tests"
          go test -v -race -coverprofile=coverage.out ./internal/service/...

      - name: Check coverage
        run: |
          echo "Service Layer Coverage:"
          go tool cover -func=coverage.out

          COVERAGE=$(go tool cover -func=coverage.out | grep total | awk '{print $3}' | sed 's/%//')
          echo "Total service coverage: ${COVERAGE}%"

          if (( $(echo "$COVERAGE < 80" | bc -l) )); then
            echo "❌ Service layer coverage is below 80%: ${COVERAGE}%"
            exit 1
          else 
            echo "✅ Service layer coverage is pass with: ${COVERAGE}%"
          fi

      - name: Run all tests (for full report)
        run: go test -v ./...
        continue-on-error: true

      - name: Build application
        run: go build ./cmd/app

      - name: Discord notification
        if: always()
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: |

          COVERAGE=$(go tool cover -func=coverage.out 2>/dev/null | grep total | awk '{print $3}' || echo "N/A")

          if [ "${{ job.status }}" == "success" ]; then
            COLOR="3066993"
            MESSAGE="Build and tests passed!"

            curl -H "Content-Type: application/json" -X POST "$DISCORD_WEBHOOK_URL" -d '
            {
              "project_name": "Shorten-Url-Api", 
              "status": "'"${{ job.status }}"'", 
              "color" : "'$COLOR'"
              "message" : " ✅ '"${MESSAGE}"' | Coverage: '"${COVERAGE}"' "
            }'

          else
            COLOR="15158332"
            MESSAGE="Build or tests failed!"

            curl -H "Content-Type: application/json" -X POST "$DISCORD_WEBHOOK_URL" -d '
            {
              "project_name": "Shorten-Url-Api", 
              "status": "'"${{ job.status }}"'", 
              "color" : "'$COLOR'"
              "message" : " ❌ '"${MESSAGE}"' | Coverage: '"${COVERAGE}"' "
            }'
          fi
